.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  padding: 18px 70px;
}

.header__movie-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header__link-movie {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}

.header__account-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.header__account-name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__account-logo {
  width: 26px;
  height: 26px;
  background-color: #313131;
  border-radius: 50px;
  background-image: url(../image/header__account-logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
}