.promo {
  background-color: #073042;
  min-height: 524px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../images/promo__logo.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.promo__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  width: 730px;
  height: 116px;
}

@media (max-width: 768px) {
  .promo {
    min-height: 784px;
  }
}

@media (max-width: 690px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    max-width: 500px;
  }
  
  .promo {
    min-height: 570px;
  }
}

@media (max-width: 460px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    max-width: 300px;
  }
}