.profile {}

.profile__container {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 74px);
  padding: 74px 10px;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 124px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 410px;
  width: 100%;
}

.profile__container-input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.profile__container-input:first-child {
  border-bottom: solid #424242;
  margin-bottom: 16px;
}

.profile__input {
  background-color: #202020;
  border: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #FFFFFF;
  width: 79%;
}

.profile__input:focus {
  outline: none;
}

.profile__input-label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  width: 20%;
  text-align: start;
}

.profile__button-submit {
  border: 0;
  background-color: #202020;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 217px;
}

.profile__button-exit {
  border: 0;
  background-color: #202020;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
  margin-top: 15px;
}

.profile__button-submit:hover,
.profile__button-exit:hover {
  cursor: pointer;
  opacity: .7;
}

.profile__error {
  display: inline-block;
  color: #EE3465;
  font-size: 10px;
  text-align: start;
  min-width: 100%;
  height: 12px;
}

.profile__error-invisible {
  display: none;
}

@media (max-width: 768px) {
  .profile__container {
    padding: 234px 10px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__button_submit {
    margin-top: 208px;
  }
}

@media (max-width: 460px) {
  .profile__container {
    padding: 70px 30px;
  }

  .profile__title {
    margin-bottom: 81px;
  }

  .profile__button_submit {
    margin-top: 376px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button_exit {
    font-size: 12px;
    line-height: 15px;
  }
}