.registration {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 70px 30px;
}

.registration__container-top {
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.registartion__logo:hover {
  cursor: pointer;
  opacity: .8;
}

.registration__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-top: 40px;
}

.registration__container-main {
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 30px;
}

.registration__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  width: 100%;
  display: inline-block;
  text-align: start;
  margin-bottom: 5px;
}

.registration__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: 0;
  background-color: #202020;
  width: 100%;
  padding-bottom: 7px;
  border-bottom: solid #424242;
}

.registration__input:focus {
  outline: none;
}

.registration__button-submit {
  background: #4285F4;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  width: 100%;
  height: 45px;
  margin-top: 129px;
}

.registration__button-submit[disabled] {
  opacity: .3;
}

.registration__button-submit[disabled]:hover {
  cursor: not-allowed;
}

.registration__button-submit:hover {
  cursor: pointer;
  opacity: .8;
}


.registration__container-bottom {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  padding: 2px 30px;
}

.registration__link-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

.registration__link-login {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
}

.registration__link-login:hover {
  opacity: .7;
}

.registration__error {
  display: inline-block;
  color: #EE3465;
  font-size: 10px;
  text-align: start;
  min-width: 100%;
  height: 20px;
  /* margin-bottom: 4px; */
}

.registration__error-invisible {
  display: none;
}

@media (max-width: 768px) {
  .registration {
    padding: 232px 30px;
  }
}

@media (max-width: 460px) {
  .registration {
    padding: 66px 30px;
  }

  .registration__container-top {
    width: 260px;
    align-items: center;
  }

  .registration__title {
    font-size: 24px;
    width: 260px;
    margin-top: 50px;
  }

  .registration__container-main {
    width: 260px;
    padding: 54px 0;
    box-sizing: border-box;
  }

  .registartion__logo {
    margin-top: -10px;
  }

  .registration__button-submit {
    font-size: 12px;
    margin-top: 220px;
  }

  .registration__link-description {
    font-size: 12px;
  }

  .registration__link-login {
    font-size: 12px;
  }

  .registration__container-bottom {
    gap: 8px;
  }
}